<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    {% if page.home %}
        <title>{{ site.title }}</title>
    {% else %}
        <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" type="text/css">
    <script src="//use.edgefonts.net/source-sans-pro.js"></script>
</head>
<body>

<header class="navbar navbar-static navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/img/dom-logo2.png">
                <span>domdocs</span>
            </a>
        </div>
    </div>
</header>
<div class="container" id="main-container">
    <div class="row">
        <nav class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li {% if page.url == '/tag/all/' %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/tag/all/">All</a>
                </li>
                {% for tag in site.taglist %}
                <li {% if tag.url == page.url %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}{{ tag.url }}">{{ tag.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <main class="col-md-9">
            <h1>{{page.title}}</h1>
            {{content}}
        </main>
    </div>
</div>
<footer class="container">
    footer <a href="{{ site.baseurl }}/acknowledgements">acknowledgements</a>
</footer>

<script src="{{ site.baseurl }}/js/dom-elements.min.js"></script>
<script src="{{ site.baseurl }}/js/dom4.js"></script>
</body>
</html>
